html,
body {
  background-color: khaki;
  /* height: 100%;
  width: 100%; */
  position: relative;
  background-image: url("http://bayanbox.ir/view/1469544101933414872/back2.jpg");
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  padding: 5px;
  border: 3px dashed coral;
  margin: 10px;
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.description {
  padding: 15px;
  color: brown;
}

.photos {
  margin: 10px;
  display: grid;
  /* flex-wrap: wrap; */
  position: relative;
  padding: 10px;
}

.start {
  max-width: 200px;
  top: 0;
  left: 0;
  position: absolute;
}

.temporary {
  max-width: 200px;
  position: absolute;
  top: 0;
  left: 215px;
}

.firstGovern {
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 430px;
}

.secondGovern {
  max-width: 350px;
  position: absolute;
  top: 0;
  left: 735px;
}

.thirdGovern {
  max-width: 400px;
  position: absolute;
  top: 0;
  left: 1090px;
}

.forthGovern { 
  max-width: 430px;
  position: absolute;
  top: 320px;
  left: 205px;
}

.fifthGovern {
  max-width: 400px;
  position: absolute;
  top: 314px;
  left: 645px;
}

.sixthGovern {
  max-width: 200px;
  position: absolute;
  top: 179px;
  left: 0;
}

.seventhGovern {
  max-width: 150px;
  position: absolute;
  top: 320px;
  left: 1050px;
}

.question {
  max-width: 300px;
  position: absolute;
  top: 320px;
  left: 1205px;
}

.firstLeader {
    max-width: 230px;
    position: absolute;
    top: 195px;
    left: 422px;
}

.firstLeader.caption {
    position: absolute;
    top: 0;
    left: 235px;
}

.secondLeader {
    max-width: 200px;
    position: absolute;
    top: 464px;
    left: 0;
}

div figure {
  margin: 5px;
}
